<h1>Welcome to the Salon! Lets get you scheduled for a cut!</h1>


<h3>@Html.ActionLink("See all clients", "Index", "Client")</h3>
<h3>@Html.ActionLink("See all stylists", "Index", "Stylist")</h3>
<h3>@Html.ActionLink("Home", "Index", "Home")</h3>